@model Webshop.Models.OrderModel

<form method="post" asp-controller="Order" asp-action="Order2">
    <div class="form-group">
        <label for="brand">Voornaam:</label>
        <input type="text" id="Firstname" name="Firstname" class="form-control" />
    </div>

    <div class="form-group">
        <label for="model">Achternaam:</label>
        <input type="text" id="Lastname" name="Lastname" class="form-control" />
    </div>

    <div class="form-group">
        <label for="price">Email:</label>
        <input type="email" id="Email" name="Email" class="form-control" step="0.01" />
    </div>

    <input type="hidden" name="ID" value="@Model.ID" />
    <input type="hidden" name="Brand" value="@Model.Brand" />
    <input type="hidden" name="Model" value="@Model.Model" />
    <input type="hidden" name="Price" value="@Model.Price" />
    <input type="hidden" name="Quantity" value="@Model.Quantity" />

    <button type="submit">Bestellen</button>
</form>

