@model Webshop.Models.PhoneModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Webshop</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        h1 {
            margin: 0;
        }

        .brands {
            background-color: #fff;
            padding: 20px;
        }

            .brands ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: 100;
            }

            .brands li {
                margin: 0;
                width: 30%;
                text-align: 100;
    </style>
</head>
<body>
    <div class="brands">
        <h2>Alle Telefoons</h2>
        <ul>
            @for (var i = 0; i < Model.phones.Count; i++)
            {
                <li>
                    <img src="https://scalar.usc.edu/works/a-nostalgic-filter/media/thumbnail.png">
                    <p>Brand: @Model.phones[i].Brand</p>
                    <p>Model: @Model.phones[i].Model</p>
                    <p> Price: @Model.phones[i].Price </p>
                    <p>Description: @Model.phones[i].Description</p>

                    <form asp-controller="Order" asp-action="Order" method="post">
                        <input type="hidden" name="Brand" value="@Model.phones[i].Brand" />
                        <button type="submit">Bestel</button>
                    </form>
                </li>
            }
        </ul>
    </div>
</body>
</html>
